@charset "UTF-8";
@CHARSET "UTF-8";

pre{
	background : lightblue;
	border : 5px dashed green;
	font-size : 1.3em;
}
.box{
	background-image: linear-gradient(lightblue, white);
	height: auto;
	margin-top: 10px;
	padding: 20px;
}
.box div{
	border : 1px dotted orange;
	padding: 10px;
	height: auto;
	margin: 5px 5px;
}
.box input[type=button]{
	background: orange;
	color: white;
	width: 100px;
	padding: 10px 5px;
	border-radius:20px; 
}